<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='clientes.html' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class="text-success far fa-smile"></i><strong>Clientes</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class="text-danger fa fa-shopping-basket" aria-hidden="true"></i><strong>Compras</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class="text-warning fa fa-birthday-cake" aria-hidden="true"></i><strong>Cumpleañeros</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class="text-primary fas fa-shoe-prints"></i><strong>Seguimiento</strong></a>
	</div>
</div>